:root {
  --primary: #1A3263;
  --secondary: #547792;
  --accent: #FAB95B;
  --light: #E8E2DB;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary);
  color: var(--white);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.hero-content {
  max-width: 550px;
  animation: fadeUp 1s ease;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h1 span {
  color: var(--accent);
}

.hero h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--secondary);
}

.hero p {
  line-height: 1.6;
  margin-bottom: 30px;
}

/* BUTTONS */
.btn {
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.3s;
}

.primary {
  background: var(--accent);
  color: #000;
}

.primary:hover {
  transform: translateY(-3px);
}

.secondary {
  border: 1px solid var(--white);
  color: var(--white);
}

.secondary:hover {
  background: var(--white);
  color: var(--primary);
}

/* IMAGE */
.hero-image img {
  width: 350px;
  border-radius: 20px;
  animation: fadeIn 1.5s ease;
}

/* ANIMATIONS */
@keyframes fadeUp {
  from {opacity:0; transform: translateY(30px);}
  to {opacity:1; transform: translateY(0);}
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}
